<div class="container">

  <%# 投稿内容表示 %>
  <div class="row bg-secondary text-white m-5">
    <div class="col-md-1 p-3">
      <%# 左側投稿者イメージ画像、投稿者表示 %>
      <% if user_signed_in? %>
        <%= link_to user_path(@post.user.id) do%> 
          <%= image_tag @post.user.get_profile_image(100,100) %><br>
        <% end %>
        投稿者:<br> 
        <%= @post.user.name %><br>
      <% else %>
        <%= image_tag @post.user.get_profile_image(100,100) %><br>
        投稿者:<br>
        <%= @post.user.name %><br>
      <% end %>
    </div>
    <%# 右側投稿画像、タイトル本文表示 %>
    <div class="col-md-10 offset-md-1 p-3 bg-light text-dark">
      <%= image_tag @post.get_image(400,400), class: "img-fluid" %><br>
      タイトル: <%= @post.title %><br>
      コメント数：<%= @post.comments.count %>
      <% if user_signed_in? %>
        <%# いいね %>
        <% if @post.user_id == current_user.id %> <%# 自分の投稿かどうか判定 %>
          <%# current userの投稿の時 いいねボタンを表示のみ %>
          <% if @post.liked_by?(current_user) %>
           <p>
             ♥<%= @post.likes.count %> いいね
            </p>
          <% else %>
            <p>
              ♡<%= @post.likes.count %> いいね
            </p>
          <% end %><br>
        <% else %>
          <%# current userの投稿でない時 いいねボタンを押下できる %>
          <% if @post.liked_by?(current_user) %>
            <p>
              <%= link_to post_like_path(@post), method: :delete do %>
               ♥<%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% else %>
            <p>
              <%= link_to post_like_path(@post), method: :post do %>
                ♡<%= @post.likes.count %> いいね
              <% end %>
            </p>
          <% end %><br>
        <% end %>
      <% end %>
      本文: <%= @post.body %><br>
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
          <td><%= link_to "編集", edit_post_path(@post.id), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "削除", post_path(@post), class:"btn btn-sm btn-danger", method: :delete %></td>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# コメント表示 %>
  <div class="row bg-light text-dark m-5">

    <div class="col-md-12 p-3 bg-light text-dark">
      <div>
        <% @post.comments.each do |comment| %>
        <div class="row">
          <div class="col">
            <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
          </div>

          <div class="col">
            <p class="text-muted small">投稿ユーザー: <%= comment.user.name %><br>
            投稿日: <%= comment.created_at.strftime('%Y/%m/%d') %></p>
            <%= comment.content %><br>
            <% if user_signed_in? %>
              <% if comment.user_id == current_user.id %> 
                <div class ="row">
                  <div class="col-md-10"></div>
                  <div class="col-md-2 ">
                    <%= link_to "削除", post_comment_path(comment.post, comment), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
                  </div>
                </div> 
              <% end %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# コメント投稿フォーム %>
  <% if user_signed_in? %>
    <div class="row m-5">
      <div class =col>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :content, rows: '1', placeholder: "コメント",style: "width: 100%; height: 150px; resize: none;" %><br>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
      <p class="text-center"><%= link_to "戻る", posts_path, class: 'text-dark font-weight-bold' %></p>
    </div>
  </div>
</div>

