<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>投稿画像</th>
            <th>タイトル</th>
            <th>本文</th>
          </tr>
        </thead>
        <tbody>
          <%# ここに繰り返し要素を入れてデータを読み込む %>

          <% @posts.each do |post| %>
              <tr>
                <td>
                  <%= link_to user_path(post.user_id) do %>
                    <%= image_tag post.user.get_profile_image(80,80) %>
                  <% end %>
                </td>

                 <td>
                  <%= link_to posts_path do %>
                    <%= image_tag post.get_image(80,80) %>
                  <% end %>
                </td>

                <td>
                  <%= link_to post_path(post.id) do %>
                    <%= post.title %>
                  <% end %> 
                </td>

                <td><%= post.body %>
                </td>
              </tr>
          <% end %>    
        </tbody>
            
          
          
        
      </table>