<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="container">
  <div class="row bg-secondary text-white m-5">
    <div class="col-md-1 p-3">

      <%= link_to user_path(@post.user.id) do%> 
        <%= image_tag @post.user.get_profile_image(100,100) %><br>
      <% end %>
      投稿者:<br> 
      <%= @post.user.name %><br>
        
    </div>

    <div class="col-md-10 offset-md-1 p-3 bg-light text-dark">
      <%= image_tag @post.get_image(600,600), class: "img-fluid" %><br>

      タイトル: <%= @post.title %><br>
        
      本文: <%= @post.body %><br>

      コメント件数：<%= @post.comments.count %>

        <% if @post.user_id == current_user.id %>
          <td><%= link_to "編集", edit_post_path(@post.id), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "削除", post_path(@post), class:"btn btn-sm btn-danger", method: :delete %></td>
        <% end %>
 
    </div>

  </div>

  <div class="row bg-light text-dark m-5">

    <div class="col-md-12 p-3 bg-light text-dark">
      
      <div>


        <% @post.comments.each do |comment| %>
        <div class="row">
          <div class="col">
            <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
          </div>
          <div class="col">
            <%= comment.user.name %><br>
            <%= comment.created_at.strftime('%Y/%m/%d') %><br>
            <%= comment.content %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row m-5">
       <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :content, rows: '1', placeholder: "コメント" %><br>
          <%= f.submit "送信" %>
        <% end %>
  </div>

</div>
