
<h1>ユーザー管理</h1>
<div class="container"> 
  <h2>ユーザー一覧</h2>
    <% @users.each do |user| %>
      <div class="row p-2 align-items-center border border-primary">
            <div class="col-md-4">
              <%= image_tag user.get_profile_image(300,300) %>
            </div>

            <div class="col-md-7">
              <div>
                ユーザー名: <%= user.name %> <br>
                <% if user.introduction.present? %>
                  introduction: <%= user.introduction %>
                <% end %>
                退会フラグ：<%= user.is_active%>
              </div>
            </div>

            <div class="col-md-1">
              <div class="row">
                <button type="button" class="btn btn-danger btn-lg btn-block" >
                  <%= link_to withdraw_admin_user_path(user), method: :patch, data: { confirm: '退会状態にします。よろしいですか？' } do %>
                    <i>退会</i>
                  <%end%>
                </button>
                <button type="button" class="btn btn-success btn-lg btn-block" >
                  <%= link_to rejoin_admin_user_path(user), method: :patch, data: { confirm: '入会状態にします。よろしいですか？' } do %>
                    <i>入会</i>
                  <%end%>
                </button>
              </div>
            </div>

          </div>
       
      </a>
    <% end %> 
  </div>
</div>
