<!DOCTYPE html>
<html>
  <head>
    <title>GamerBosyuKaijo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# FontAwesomeの導入 %>
    <script src="https://kit.fontawesome.com/81b2a4006b.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
        <div class="container">
          <a class ="navbar-brand" href="/">
           <span>"ゲーマー募集会所"</span>
          </a>
          <%# ドロップダウンを設定 %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
          
            <ul class="navbar-nav ml-auto"> 

              <% if user_signed_in? %> 
                <li>
                  <a class="nav-link text-light" href="<%= homes_about_path %>" >
                   <i class="fa-solid fa-house"></i>
                    about
                  </a>
                </li>

                <li>
                  <a class="nav-link text-light" href="<%= groups_path %>" >
                    <i class="fa-solid fa-house"></i>
                    グループ一覧
                  </a>
                </li>

                <li>
                  <a class="nav-link text-light" href="<%= posts_path %>">
                    <i class="fa-solid fa-house"></i>
                    投稿一覧
                  </a>
                </li>

                <li>
                  <a class="nav-link text-light" href="<%= new_post_path %>">
                    <i class="fa-solid fa-house"></i>
                   新規投稿
                  </a>
                </li>
                
                <% if user_signed_in? %>
                  <a class="nav-link text-light" href="<%= user_path(current_user) %>">
                    マイページ
                  </a>
                <% end %>

                <li>
                 <%= link_to  destroy_user_session_path, method: :delete, class:"nav-link text-light" do%>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    ログアウト
                    <%end%>
                </li>

              <%else%>
                <li>
                  <a class="nav-link text-light" href="<%= new_user_session_path %>" >
                    <i class="fa-solid fa-house"></i>
                   ログイン
                  </a>
                </li>

                <li>
                  <a class="nav-link text-light" href="<%= new_user_registration_path %>" >
                    <i class="fa-solid fa-house"></i>
                    新規登録
                  </a>
                </li>
              <%end%>

            </ul>
          </div>
        </div>
        
      </nav>
    </header>
    
    <%# フラッシュメッセージ表示 %>
    <p id ="notice"><%= flash[:notice] %></p>
    <p id ="alert"><%= flash[:alert] %></p>

    <%# 検索用フォーム表示 %>
    <%= render 'public/searches/search_form' %>

    <%= yield %>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p></p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
